openapi: 3.0.0
info:
  version: 0.1.0
  title: AIID Risk Management 
  description: Access risks and associated precedents from the AIID.

servers:
  - url: https://incidentdatabase.ai/api/riskManagement/v1

security:
  - {}

paths:
  /search_tags:
    get:
      description: Returns a set of search tags
      parameters:
        - name: limit
          in: query
          description: Limits the number of items returned
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned a list of search tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_tags:
                    type: array
                    items:
                      type: string
                required:
                  - search_tags 
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:   
                  message:
                    type: string
  /risks:
    get:
      description: Returns a set of risks containing lists of precedent incidents.
      parameters:
        - name: limit
          in: query
          description: Limits the number of items returned
          required: false
          schema:
            type: integer
        - name: tags
          in: query
          description: A list of tags joined by “___”
          required: false
          schema:
            type: string
        - name: risks_added_since
          in: query
          description: The date in YYYY-MM-DD format to use as an early bound for the query.
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successfully returned a list of risks 
          content:
            application/json:
              schema:
                type: object
                properties:
                  risks:
                    type: array
                    items:
                      type: object
                      properties: 
                        incident_id:
                          type: string
                        url:
                          type: string
                        title:
                          type: string
                        description:
                          type: string
                        search_tags:
                          type: array
                          items:
                            type: string
                        risk_tags:
                          type: array
                          items:
                            type: string
                required:
                  - risks 
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:   
                  message:
                    type: string
  /precedent:
    get:
      parameters:
        - name: incident_id
          description: The incident ID of the precedent incident
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned a precedent incident.
          content:
            application/djson:
              schema:
                type: object
                properties:
                  incident_id:
                    type: integer
                  url:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  search_tags:
                    type: array
                    items:
                      type: string
                  risk_tags:
                    type: array
                    items:
                      type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:   
                  message:
                    type: string
        
  /risk_tags:
    get:
      description: Returns a set of risk tags
      parameters:
        - name: limit
          in: query
          description: Limits the number of items returned
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned a list of risk tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_tags:
                    type: array
                    items:
                      type: string
                required:
                  - search_tags 
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:   
                  message:
                    type: string
